<div class="ag-card">
    <div class="row">
        <div class="col-xs-3">
            <img class="img-responsive img-thumbnail" src="" data-ng-src="{{ctrl.organization.avatar}}">
        </div>
        <div class="col-xs-9">
            <h3>{{ctrl.organization.nickname}}</h3>
            <p><strong>Categoria:</strong> {{ctrl.organization.category || 'Não informada'}}</p>
            <p><strong>Telefone:</strong> {{ctrl.organization.phoneNumber || 'Não informado'}}</p>
        </div>
    </div>
    <div class="ag-card-info">
        <ag-rating value="ctrl.organization.ranking"></ag-rating>
    </div>
    <ul class="ag-card-options">
        <li><a href="./#/edit/{{ctrl.organization.organizationId}}">Editar</a></li>
    </ul>
</div>